body
{
    margin: 0;
    padding-top:42px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

.blanc
{
    color: white;
    font-weight: bold;
}

.noire
{
    color: black;
    font-weight: bold;
}

.regle hr
{
    width: 50%
}

a.ref
{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

a.ref:hover
{
    color:white;
}

#logo
{
    padding: 0 20px ;
    max-height: 42px;
}

nav
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
}

body {
    background-color: #DEB887;
    margin: 0;
}

.container {
    background-color: #F0D9C5;
    margin: auto;
    padding: 10px;
}

#titre {
    text-align: center;
}

#board {
    margin: auto;
}

#medievales {
    width: 100%;
}

footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer #copyright {
    text-align: center;
}

footer #footer1 {
    color: white;
}

footer #footer1 h2 {
    text-align: center;
}

footer #footer2 {
    text-align: center;
    color: white;
}


footer li a {
    display: block;
    color: white;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-globe {
    background: white;
    color: black;
}
