@font-face {
    font-family: 'Snell Roundhand';
    font-style: normal;
    font-weight: normal;
    src: local('Snell Roundhand'), url('../font/SnellRoundhand.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Light.ttf');
}

@font-face {
    font-family: 'SIMPLIFICA';
    src: url('../font/SIMPLIFICA.ttf');
}

body
{
    margin: 0;
    padding-top:42px;
    background: linear-gradient(180deg,#DEB887,#E08333);
}


p, a, h4
{
    font-family:'Lato';
}

h1{
    font-family: SIMPLIFICA;
}

h3{
    font-family: 'SIMPLIFICA';
}

h4 {
    font-size: 20px;
}

input, select
{
    font-family:Lato;
}


/* Navbar */
nav
{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

nav li {

    float: left;
    height:46px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: width 1s, height 1s, background-color 1s, color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, color 1s, transform 1s;
}

nav li a.active {
    background-color: #333;
}


nav li a:hover {
    background-color: #fff;
    color: #000;
}

nav li#navInscription {
    float:right;
}

@media screen and (max-width: 780px) {
    nav li:not(:first-child) {display: none;}
    nav li.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 780px) {
    nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    nav.responsive li, nav li#navInscription.responsive  {
        float: none;
        display: block;
        text-align: left;
    }

    body.responsive{
        padding-top:0px;
    }
}

.icon {
    display: none;
}


/* Style de Texte */
.blanc-texte
{
    color: white;
    font-weight: bold;
}

.noir-texte
{
    color: black;
    font-weight: bold;
}

.blanc
{
    background-color: #ffffff;
    color: #000000;
}

.noir
{
    background-color: #D7D7D7;
    color: #000000;
}

.regle hr
{
    width: 50%
}

a.ref
{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}

a.ref:hover
{
    color:white;
}

#logo
{
    padding: 0 20px ;
    max-height: 42px;
}



.container {
    background-color: #F0D9C5;
    margin: auto;
    padding: 10px;
    min-height: 100vh;
}

#titre {
    text-align: center;
    font-family: "Snell Roundhand";
    font-size: 40px;
}

#board, #board2 {
    margin: auto;
    width: 100%;
}

#sissa {
    width: 100%;
}

#medievales {
    width: 100%;
}

/* Footer */
footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

footer #copyright {
    text-align: center;
}

footer #footer1 {
    color: white;
}

footer #footer1 h2 {
    text-align: center;
}

footer #footer2 {
    text-align: center;
    color: white;
}


footer li a {
    display: block;
    color: white;
    text-decoration: none;
}

/* Font Awesome */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;

    transition: color .5s, background-color .5s, ease-out;
    -moz-transition: color .5s, background-color .5s, ease-out;
    -webkit-transition: color .5s, background-color .5s, -webkit-transform .5s;
    -o-transition: color .5s, background-color .5s, ease-out;
}

/*.fa:hover {
    opacity: 0.7;
}*/


/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-facebook:hover
{
    background: white;
    color: #3B5998;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-twitter:hover{
    background: white;
    color: #55ACEE
}


.fa-globe {
    background: white;
    color: black;
}

.fa-globe:hover{
    background: black;
    color: white;
}

/* Règles */
.regle img
{
    width: 100%;
}

.regle h1, .regle h3
{
    margin: 0;
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: center;

}

.regle h1, .regle h3
{
    color: black;
    text-shadow:  2px 2px white;
}

.regle h3
{
    font-size:42px;
}

.regle h1#titre
{
    background: url('../img/regles/header/regle.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.regle h3#moove {
    background: url('../img/regles/header/moove.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 75%;
}

.regle h3#special-moove {
    background: url('../img/regles/header/special-moove.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 75%;
}

.regle h3#deroulement{
    background: url('../img/regles/header/deroulement.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 75%;
}

.regle h3#goal {
    background: url('../img/regles/header/goal.jpeg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.regle-container
{
    width: 60%;
    margin-top: 30px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

.regle-container section h4{
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.regle-container p {
    padding: 0 20px;
}

.regle-container h4{
    padding-left: 20px;
}

.regle-container section p {
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.regle-container a, .regle-container a:hover{
    cursor: pointer;
}

.regle-bgc
{
    background-color: #F0D9C5;
}

.sub-container
{
    background-color: #F0D9C5;
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

.regle
{
    padding: 0;
}

#deplacement section:nth-child(2n+1) {
    background-color: #ffffff;
    color: #000000;
}

#deplacement section:nth-child(2n) {
    background-color:#D7D7D7;
    color: #000000;
}

body {
	background-color:#EDEDED;
}

* {
	outline:none;
}

/* Konfucjusz  */

#korfu:before, #korfu:after {
    border-top: medium none;
    bottom: 1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
}
#korfu:before, #korfu:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
}
#korfu:after {
    bottom: -5px;
    box-shadow: 0 0 2px #D9D9D9;
    left: 1px;
    right: 1px;
}
#korfu:before, #korfu:after {
    border-top: medium none;
    bottom: 1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
}
#korfu:before, #korfu:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D9D9;
}

#korfu {
	position:relative;
	margin: 0 auto;
	margin-top:100px;
	width:242px;
	border:1px solid black;
	border-left-color:#B6B6B6;
	border-color: #DBDBDB #B6B6B6 #C2C2C2;
	height:218px;
	transition: display 0.2s ease 0s;
	border-radius:6px;
	background:#FCFCFC;
	backgourn-color: #FEFEFE;
	background: -moz-linear-gradient(top, #FEFEFE 20%, #F8F8F8);
	background: -o-linear-gradient(top, #FEFEFE 20%, #F8F8F8);
	background: -webkit-linear-gradient(top, #FEFEFE 20%, #F8F8F8);
	padding:10px 20px 10px 20px;
	margin-bottom:200px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	color:#5E5E5C;
	font-size:16px;
	margin-bottom: 2px;
}
#korfu hr {
	border:0;
	border-top:1px solid  #EBEBEB;
	height:3px;
	padding-bottom:15px;
}

#korfu input {
	margin-bottom:20px;
	width:228px;
	color:#A49FA3;
	font-family: 'Lato', sans-serif;
	padding:6px;
	border-radius:3px;
	border:1px;
	border:1px solid;
	font-size:12px;
	box-shadow: 1px 0 1px rgba(215, 215, 215, 0.5) inset,
			0 1px 0 rgba(224, 224, 224, 0.9) inset,
			0 1px 0 rgba(242, 242, 242, 0.9) inset,
			0 1px 0 rgba(235, 235, 235, 0.9) inset;
	border-color:#ADADAD #D7D7D7 #EBEBEB #D7D7D7;
}

#korfu button {
	width:242px;
	padding:6px;
	border:1px solid;
	border-color:#C77B30 #C44D13 #C33203 #C44D13;
	border-radius:4px;
	color:white;
	font-weight:bold;
	height:40px;
	background: -moz-linear-gradient(top, #F9A960 , #F56735);
	background: -o-linear-gradient(top, #F9A960 , #F56735);
	background: -webkit-linear-gradient(top, #F9A960 , #F56735);
	font-family: 'Lato', sans-serif;
	cursor: pointer;
	box-shadow: 2px 3px 3px rgba(221, 221, 221, 0.9),0 1px 0 #FBC984 inset;
}

#korfu button:active {
	background: -moz-linear-gradient(bottom, #F9A960 10%, #F56735);
	box-shadow:none;
}	
